body {
    background-color: #0f0f0f;
    margin-top: 100px;
}

#container {
    margin: 0 auto;
    width: fit-content;
    perspective: 1000px;
    perspective-origin: 100% 100%;
}

.cube {
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
   animation: rotate 4s linear infinite;
}

.cube>div {
    position: absolute;
    height: 200px;
    width: 200px;
    opacity: 0.9;
    background: linear-gradient(to right, #0b1fbc, #b13cff);
}

.s1 {
    transform: translateZ(100px);
}

.s2 {
    transform: rotateY(90deg) translateZ(100px);
}

.s3 {
    transform: rotateY(180deg) translateZ(100px);
}

.s4 {
    transform: rotateX(90deg) translateZ(100px);
}

.s5 {
    transform: rotateY(-90deg) translateZ(100px);
}

.s6 {
    transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}

@keyframes rotate {
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    }
}