<!DOCTYPE html>
<html>
<head>
  <title>Item List</title>
</head>
<body>
  <h1>Item List</h1>
  <ul>
    <% items.forEach(function(item) { %>
      <li><%= item %></li>
    <% }); %>
  </ul>
  <a href="/add">Add Item</a>
</body>
</html>
